#bg svg {
    position: absolute;
    top: 0px; /* Adjust to your desired vertical position */
    left: 200px; /* Adjust to your desired horizontal position */
  }
  
  div#hero-txt h5 {
    color: #DF6951;
  }

  